.form-select {
  position: relative;

  &__wrap {
    position: relative;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    right: 0;
    bottom: 14px;
    @include font0;
    transition: $baseTransition;

    svg {
      width: 16px;
      height: auto;
      fill: currentColor;
    }
  }

  & .form {
    &-control {
      padding-right: 32px;
    }
  }
}

.ss-main {
  display: flex;
  flex-direction: row;
  position: relative;
  user-select: none;
  min-height: 50px;
  width: 100%;
  font-size: 14px;
  line-height: calc(15 / 14);
  padding: 16px 16px 17px 16px;
  cursor: pointer;
  border: 1px solid #EDEDF1;
  border-radius: 10px;
  background-color: #FFFFFF;
  outline: 0;
  box-sizing: border-box;
  transition: $baseTransition;
  overflow: hidden;

  &.ss-open-above {
    border-color: $mainBlue;
  }

  &.ss-open-below {
    border-color: $mainBlue;
  }

  .ss-values {
    display: inline-flex;
    gap: 5px;
    flex: 1 1 100%;
  }

  .ss-single {
    display: flex;
    width: calc(100% - 25px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto 0 auto 0;
  }

  .ss-placeholder {
    display: flex;
    margin: auto 0 auto 0;
    width: calc(100% - 25px);
    color: #777777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ss-arrow {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 9px;
    height: 9px;
    margin: auto 0 auto 0;

    path {
      fill: none;
      stroke: $standardColor;
      stroke-width: 18;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition-timing-function: ease-out;
      transition: $baseTransition;
    }
  }
}

.ss-content {
  position: absolute;
  display: flex;
  height: auto;
  flex-direction: column;
  width: auto;
  max-height: 183px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.07);
  transition: $baseTransition;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
  overflow: hidden;
  z-index: 10000;

  &.ss-open-above {
    flex-direction: column-reverse;
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center bottom;
  }

  &.ss-open-below {
    opacity: 1;
    transform: scaleY(1) translateY(5px);
    transform-origin: center top;
  }

  .ss-list {
    flex: 1 1 auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ss-option {
    position: relative;
    display: flex;
    padding: 12px 23px 13px 17px;
    cursor: pointer;
    user-select: none;
    transition: $mainBlue;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background-color: $mainBlue;
      transition: $mainBlue;
    }

    &:hover {
      color: $mainBlue;
    }

    &.ss-highlighted,
    &:not(.ss-disabled).ss-selected {
      background-color: #F1F1F3;

      &::before {
        width: 7px;
      }
    }
  }
}

.ss-hide {
  display: none !important;
}

@keyframes ss-valueIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes ss-valueOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
