.header {
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0 20px;

  &:not([data-view="static"]) {
    position: fixed;

    @include laptop-small-min {
      transition: all 0.3s linear;
      transition-delay: 0.15s;
    }
  }

  &[data-view="static"] {
    position: relative;
  }

  &:not([data-type="white"]):not([data-view="static"]) {
    & + {
      & .main {
        padding-top: calc(var(--headerHInit) + 119px);

        @include tablet-small-minus {
          padding-top: calc(var(--headerHInit) + 31px);
        }
      }
    }

    &.is-focus {
      background-color: $white;
    }
  }

  &.scrolled {
    background-color: $white;
  }

  &-inner {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 18px 0;
  }

  &__logo {
    flex-shrink: 0;

    svg {
      fill: currentColor;
    }
  }

  &__btn {
    @include tablet-small-minus {
      margin-top: 20px;
    }

    & .btn {
      @include tablet-small-minus {
        width: 100%;
      }
    }
  }

  &-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
  }
}
