[class*="-article"],
article {
  p, ul, ol {
    margin: 16px 0;

    @include tablet-small-minus {
      margin: 9px 0;
    }
  }

  & > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

article {
  p, ul, ol {
    line-height: 160%;
    letter-spacing: 0.16px;
    font-size: 16px;

    @include tablet-small-minus {
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.14px;
    }
  }

  h3 {
    margin: 16px 0 16px;

    @include tablet-small-minus {
      margin: 9px 0 9px;
    }
  }

  ul {
    &:not([class]) {
      & > li {
        position: relative;
        padding-left: 20px;

        &:not(:last-child) {
          margin-bottom: 9px;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 12px;
          width: 6px;
          height: 6px;
          background-color: currentColor;
          border-radius: 50%;

          @include tablet-small-minus {
            top: 9px;
          }
        }

        ol, ul {
          margin: 9px 0;
        }
      }
    }
  }

  ol {
    &:not([class]) {
      counter-reset: list-counter;

      & > li {
        position: relative;
        padding-left: 20px;
        counter-increment: list-counter;

        &:not(:last-child) {
          margin-bottom: 9px;
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: counters(list-counter, '.') ".";
          color: currentColor;
        }

        ol, ul {
          margin: 9px 0;
        }
      }
    }
  }

  blockquote {
    margin: 30px 0;

    @include tablet-small-minus {
      margin: 16px 0;
    }
  }
}

.blockquote {
  position: relative;
  padding-left: 58px;

  @include tablet-small-minus {
    padding-left: 0;
    padding-top: 55px;
  }

  &__text {
    font-size: 22px;
    line-height: 140%;

    @include tablet-small-minus {
      font-size: 18px;
    }
  }

  &__author {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #777777;
    margin-top: 26px;

    @include tablet-small-minus {
      font-size: 15px;
      letter-spacing: 0.15px;
      margin-top: 14px;
    }
  }

  &__quote {
    position: absolute;
    left: 0;
    top: 0;
    @include font0;
  }
}
