h1, .h1 {
  font-weight: 700;
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 500;
}

h1, .h1 {
  font-size: 52px;
  line-height: calc(48 / 52);
  letter-spacing: -1.04px;

  @include tablet-small-minus {
    font-size: 34px;
    line-height: calc(38 / 34);
    letter-spacing: -0.68px;
  }
}

h2, .h2 {
  font-size: 40px;
  line-height: calc(36 / 40);
  letter-spacing: -0.8px;

  @include tablet-small-minus {
    font-size: 28px;
    line-height: calc(32 / 28);
    letter-spacing: -0.28px;
  }
}

h3, .h3 {
  font-size: 28px;
  line-height: calc(36 / 28);
  letter-spacing: -0.56px;

  @include tablet-small-minus {
    font-size: 22px;
    line-height: calc(30 / 22);
    letter-spacing: -0.22px;
  }
}

h4, .h4 {
  font-size: 16px;
  line-height: calc(22 / 16);
}
