.title-base {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 32px;

  @include tablet-small-minus {
    margin: 0 0 24px;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__arrows {
    position: relative;
    z-index: 1;

    &--hide {
      @include tablet-small-minus {
        display: none;
      }
    }
  }

  &__tabs {
    @include laptop-small-minus {
      width: 100%;
      margin-top: 24px;
    }
  }
}
