.main {
  &__block-form {
    padding: 53px 0 88px;

    @include tablet-small-minus {
      padding: 22px 0 50px;
    }
  }
}

.form {
  &-blocks {
    margin-top: 37px;

    @include tablet-small-minus {
      margin-top: 28px;
    }
  }

  &-block {
    &:not(:last-child) {
      margin-bottom: 46px;

      @include tablet-small-minus {
        margin-bottom: 36px;
      }
    }

    &__label {
      display: block;
      font-size: 11px;
      line-height: calc(18 / 11);
      letter-spacing: 0.22px;
      text-transform: uppercase;
      font-weight: 700;
    }

    &__inputs {
      margin-top: 15px;

      & .btn {
        @include tablet-small-minus {
          width: 100%;
        }
      }
    }
  }

  &-rating {
    margin-top: 8px;
  }
}
