.main {
  &__block-news {
    padding: 60px 0 101px;

    @include tablet-small-minus {
      padding: 30px 0 66px;
    }
  }
}

.news {
  &-items {
    margin-top: 32px;

    @include tablet-small-minus {
      margin-top: 18px;
      margin-right: -20px;
    }

    &__row {
      @include tablet-small-min {
        display: flex;
        width: calc(100% + 30px);
        margin: 0 -15px 0;
      }
    }

    &__col {
      box-sizing: border-box;

      @include tablet-small-min {
        flex: 0 0 $colSize4;
        max-width: $colSize4;
        padding: 0 15px;
      }
    }

    & .swiper {
      overflow: visible;
    }
  }

  &-item {
    display: block;

    &:not(:hover) {
      color: $standardColor;
    }

    &__img {
      @include tablet-small-minus {
        max-width: 280px;
      }

      & .img {
        border-radius: 18px;
        padding-top: 100%;
      }
    }

    &__content {
      max-width: 188px;
      margin-top: 12px;

      @include tablet-small-minus {
        max-width: 258px;
      }

      time {
        display: block;
        color: #777777;
        margin-bottom: 7px;
      }
    }
  }

  &-slider {
    &__bottom {
      margin-top: 20px;

      @include tablet-small-min {
        display: none;
      }
      @include tablet-small-minus {
        display: flex;
        justify-content: center;
      }
    }
  }
}
