.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 103;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //overflow-x: hidden;
  //overflow-y: scroll;
  outline: 0;
  transition: opacity 0.45s ease-in-out;

  /*&:not([class*="--full"]) {
    @include laptop-small-minus {
      z-index: 99;
    }
  }*/

  &-dialog {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    pointer-events: none;

    /*@include tablet-small-minus {
      display: flex;
    }*/

    /*&:not([class*="-full"]) {
      @include laptop-small-minus {
        padding-top: var(--headerHeight);
      }

      & .btn-close {
        @include laptop-small-minus {
          display: none;
        }
      }
    }*/

    /*&:not([class*="-centered"]) {
      @include tablet-small-min {
        display: flex;
      }
    }*/

    &[class*="-centered"] {
      overflow: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-scrollable {
      height: 100%;

      /*.modal-content {
        max-height: 100%;
        overflow: hidden;
      }*/

      .modal-body {
        height: 100%;
        overflow: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    &-translate {
      &[class*="-right"] {
        justify-content: flex-end;

        .modal.fade & {
          @include laptop-large-laptop-small {
            transform: translate(50%, 0);
          }
          @include laptop-small-minus {
            transform: translate(100%, 0);
          }
        }

        .modal.show & {
          transform: translateX(0);
        }

        & .modal {
          &-content {
            position: relative;

            @include laptop-large-laptop-small {
              max-width: 50%;
            }
            @include laptop-small-minus {
              max-width: 100%;
            }
          }
        }
      }

      &[class*="-centered"] {
        justify-content: center;
        align-items: center;

        /*@include tablet-small-min {
          justify-content: center;
          align-items: center;
        }*/

        /*@include tablet-small-min {
          text-align: center;
        }*/
        /*@include tablet-small-minus {
          height: 100%;
        }*/

        .modal.fade & {
          transform: translate(0, -50px);
        }

        .modal.show & {
          transform: none;
        }

        & .modal {
          &-content {
            position: relative;
            max-width: 380px;
            border-radius: 12px;

            /*@include tablet-small-min {
              display: inline-block;
              vertical-align: middle;
              text-align: left;
              margin: auto 0;
            }*/
            @include tablet-small-minus {
              max-width: 100%;
            }
          }

          &-body {
            padding: 17px 26px 20px;

            @include tablet-small-minus {
              padding: 13px 20px;
            }
          }
        }
      }
    }

    &-centered {
      & .btn-close {
        right: 13px;
        top: 13px;
      }
    }

    .modal.fade & {
      transition: transform 0.45s ease-in-out;
    }
  }

  &-content {
    display: flex;
    width: 100%;
    pointer-events: all;
    background-color: $white;
    background-clip: padding-box;
    outline: 0;

    &__inner {
      display: flex;
      width: 100%;
    }
  }

  &-body {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 0;

    &-centered {
      justify-content: center;
    }
  }

  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #202326;
    transition: opacity 0.25s ease-in-out;

    /*@include laptop-small-minus {
      z-index: 98;
      display: none;
    }*/

    &.fade {
      opacity: 0;
    }
    &.show {
      opacity: 0.7;
    }
  }

  &-title {
    margin-bottom: 8px;

    @include tablet-small-minus {
      margin-bottom: 10px;
    }
  }

  &__desc {
    max-width: 307px;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.12px;

    @include tablet-small-minus {
      max-width: 197px;
    }
  }

  &-copyright {
    width: 100%;
    max-width: 238px;
    text-align: center;
    font-size: 10px;
    line-height: 160%;
    letter-spacing: 0.1px;
    margin: 60px auto 0;

    @include tablet-small-minus {
      margin-top: 58px;
    }

    a {
      &::after {
        opacity: 0;
      }
    }
  }

  &-form {
    height: 100%;
    margin-top: 29px;

    @include tablet-small-minus {
      margin-top: 22px;
    }

    & > * {
      height: inherit;
    }

    &:not(.is-success) {
      & .modal {
        &-form {
          &__finish {
            display: none;
          }
        }
      }
    }

    &.is-success {
      & .modal {
        &-form {
          &__start {
            display: none;
          }
        }
      }
    }

    &__finish {
      display: flex;
      align-items: center;
    }
  }

  &-finish {
    text-align: center;
    width: 100%;
    max-width: 469px;
    margin: 0 auto;

    &__wrap {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__img {
      margin: 0 auto 32px;

      @include tablet-small-minus {
        max-width: 96px;
        margin-bottom: 24px;
      }

      img {
        margin: 0 auto;
      }
    }

    &__title {
      font-size: 32px;
      line-height: 110%;
      font-weight: 700;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-bottom: 16px;

      @include tablet-small-minus {
        font-size: 22px;
        margin-bottom: 12px;
      }
    }

    &__btn {
      margin-top: 40px;
    }

    p {
      font-size: 16px;
      line-height: calc(25 / 16);

      @include tablet-small-minus {
        font-size: 14px;
        line-height: calc(22 / 14);
      }
    }
  }

  &-anim {
    @include laptop-small-min {
      opacity: 0;
      transform: translateX(24px);
      transition: all 0.75s ease-in-out;
      transition-property: color, transform, opacity;
    }
  }

  &.show {
    & .modal {
      &-anim {
        @include laptop-small-min {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

.btn-close {
  position: absolute;
  right: 13px;
  top: 13px;
  z-index: 1;
  box-sizing: content-box;
  width: 22px;
  height: 22px;
  padding: 0;
  color: $standardColor;
  background: none;
  border: 0;
  opacity: 1;
  transition: $baseTransition;

  &:hover {
    color: $standardColor;
    text-decoration: none;
    opacity: 1;
  }

  &:focus {
    outline: 0;
    opacity: 1;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }

  &-white {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  svg {
    fill: none;
    stroke: currentColor;
    width: 100%;
    height: 100%;
  }
}

.fade {
  //transition: opacity 0.75s ease-in-out;

  &:not(.show) {
    opacity: 0;
  }
}

html {
  &[ua-os="Windows"] {
    & .modal-open {
      & .header {
        & .header {
          &-inner {
            @include laptop-small-min {
              max-width: calc(#{$max-width} + 17px);
              padding-right: 17px;
            }
          }
        }
      }
    }
  }
}

body {
  &.modal-open {
    & .modal {
      pointer-events: all;
    }
  }
}

@supports (-webkit-touch-callout: none) {
  .modal-body {
    overscroll-behavior-y: none;
  }
}
