.header {
  &-nav {
    @include tablet-small-min {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      margin: 0 auto;
    }

    &__list {
      display: flex;

      @include tablet-small-min {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      @include tablet-small-minus {
        flex-direction: column;
      }
    }

    &__item {
      position: relative;

      @include tablet-small-min {
        margin: 0 18px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:not(:last-child) {
        @include tablet-small-minus {
          margin-bottom: 16px;
        }
      }

      &:hover {
        & .header {
          &-nav {
            &__link {
              color: $mainBlue;
            }

            &__arrow {
              transform: rotate(-180deg);
            }
          }

          &-sub-nav {
            @include tablet-small-min {
              opacity: 1;
              pointer-events: all;
            }
          }
        }
      }
    }

    &__link {
      position: relative;
      z-index: 1;
      display: flex;
      font-size: 15px;
      line-height: calc(18 / 15);
      font-weight: 500;
      transition: $baseTransition;

      &:not(:hover) {
        color: $standardColor;
      }

      &:hover {
        color: $mainBlue;
      }
    }

    &__arrow {
      flex-shrink: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
      transition: $baseTransition;

      svg {
        fill: none;
        stroke: currentColor;
      }
    }
  }

  &-sub-nav {
    @include tablet-small-min {
      position: absolute;
      left: 0;
      top: 100%;
      width: 197px;
      opacity: 0;
      pointer-events: none;
      transition: $baseTransition;
    }
    @include tablet-small-minus {
      padding-left: 20px;
    }

    &__inner {
      margin-top: 10px;

      @include tablet-small-min {
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0 18px 60px 0 rgba(0, 0, 0, 0.05);
        padding: 14px 15px;
      }
    }

    &__list {
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0.13px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 13px;
      }
    }

    &__link {
      &:not(:hover) {
        color: $standardColor;
      }
    }
  }
}
