<header class="header">
  <div class="header-inner">
    <div class="header-main">
      <a href="index.html" class="logo-link header__logo">
        <div class="logo">
          @include('../partials/svg/logo.svg')
        </div>
      </a>
      <div class="sideBar">
        <nav class="header-nav">
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <a href="#" class="header-nav__link">
                <span>Статьи</span>
                <span class="header-nav__arrow">
                  @include('../partials/svg/nav-arrow.svg')
                </span>
              </a>
              <div class="header-sub-nav">
                <div class="header-sub-nav__inner">
                  <ul class="header-sub-nav__list">
                    <li class="header-sub-nav__item">
                      <a href="#" class="header-sub-nav__link">JavaScript Pro</a>
                    </li>
                    <li class="header-sub-nav__item">
                      <a href="#" class="header-sub-nav__link">JavaScript для новчиков</a>
                    </li>
                    <li class="header-sub-nav__item">
                      <a href="#" class="header-sub-nav__link">JavaScript ниндзя</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="header-nav__item g">
              <a href="#" class="header-nav__link">
                <span>Курсы</span>
                <span class="header-nav__arrow">
                  @include('../partials/svg/nav-arrow.svg')
                </span>
              </a>
              <div class="header-sub-nav">
                <div class="header-sub-nav__inner">
                  <ul class="header-sub-nav__list">
                    <li class="header-sub-nav__item">
                      <a href="#" class="header-sub-nav__link">JavaScript Pro</a>
                    </li>
                    <li class="header-sub-nav__item">
                      <a href="#" class="header-sub-nav__link">JavaScript для новчиков</a>
                    </li>
                    <li class="header-sub-nav__item">
                      <a href="#" class="header-sub-nav__link">JavaScript ниндзя</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-nav__link">
                <span>Новости</span>
              </a>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-nav__link">
                <span>О нас</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="header__btn">
          <button
            class="btn btn-blue btn--stroke btn--medium radius"
            data-bs-toggle="modal"
            data-bs-target="#callbackModal"
          >
            <span class="btn__text">Начать учиться</span>
          </button>
        </div>
      </div>
      <div class="header__burger">
        <span class="burger js-burger">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </span>
      </div>
    </div>
  </div>
</header>
