<!-- Начать учиться -->
<div class="modal fade" id="callbackModal" tabindex="-1" aria-labelledby="callbackModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-dialog-translate modal-dialog-centered"
  >
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        @include('../partials/svg/close-modal.svg')
      </button>
      <div class="modal-body">
        <div class="modal-title">
          <h3>Начать учиться</h3>
        </div>
        <div class="modal__desc">Оставьте заявку и наш менеджер вам перезвонит.</div>
        <div class="modal-form">
          <form action="/" method="post" name="callbackForm" class="form">
            <div class="form-inputs">
              <div class="form-input">
                <input class="form-control" placeholder="" id="callbackFormName" name="name">
                <label class="form-input__label" for="callbackFormName">
                  <span>Как вас зовут</span>
                </label>
              </div>
              <div class="form-input">
                <input class="form-control" placeholder="" id="callbackFormEmail" name="email">
                <label class="form-input__label" for="callbackFormEmail">
                  <span>Ваш email</span>
                </label>
              </div>
            </div>
            <div class="form-btn">
              <button class="btn btn-blue btn--stroke btn--big btn--full radius">
                <span class="btn__text">Отправить</span>
              </button>
            </div>
          </form>
        </div>
        <div class="modal-copyright">
          Нажимая кнопку «Отправить», вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
        </div>
      </div>
    </div>
  </div>
</div>
