.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 13px;
  line-height: calc(15 / 13);
  color: $standardColor;
  padding: 0;

  &-top {
    margin: 0 0 32px;

    & .breadcrumb {
      justify-content: center;
      text-align: center;
    }
  }

  &-item {
    & + {
      .breadcrumb {
        &-item {
          padding-left: 4px;

          &::before {
            content: "/";
            float: left;
            padding-right: 4px;
            color: currentColor;
          }
        }
      }
    }

    &.active {
      color: currentColor;
    }
  }

  &-link {
    color: currentColor;
  }
}
