//Fonts
$baseFont: "Onest";
$baseFontSize: 14px;

//Colors
$white: #ffffff;
$backgroundColor: #ffffff;
$standardColor: #202326;
$standardBg: #F8F8FA;

$mainBlue: #2D1AA7;
$color1: #F1F1F3;

//Анимация
$baseTransition: all 0.3s ease-in-out;

// col size
$colSize1: calc(100% / 12);
$colSize2: 16.666667%;
$colSize3: 25%;
$colSize4: 33.333333%;
$colSize5: 41.666667%;
$colSize6: 50%;
$colSize7: 58.333333%;
$colSize8: 66.666667%;
$colSize9: 75%;
$colSize10: 83.333333%;
$colSize11: 91.666667%;
$colSize12: 100%;

// ***
$desktop-large: 1920px; // 1920
$desktop-medium: 1600px; // 1600
$desktop-small: 1536px; // 1536

$laptop-large: 1440px; // 1440
$laptop-medium: 1366px; // 1366
$laptop-small: 1280px; // 1280

$tablet-large: 1024px;
$tablet-medium: 992px;
$tablet-small: 768px;

$phone-large: 576px;
$phone-medium: 414px;
$phone-small: 360px;

// ***
$max-width: 738px; // 1360px
$max-width-count: 738;
$container-padding: 20px;
$section-padding: 0px;


