:root {
  --headerHeight: 0px;
  --bannerHeight: 0px;

  --vh: 100vh;

  --animate-duration: 0.3s;
  --animate-delay: 0.3s;
  --animate-repeat: 0.3s;

  --font-family: "Onest";
}

// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

@import "./blocks/animation/preloader";
@import "./blocks/animation/lazy";
@import "./blocks/animation/aos";
@import "./blocks/animation/title-anim";

// подключения компонентов страницы
@import "./components/header";

//подключение элементов хедера
@import "./blocks/header/sidebar";
@import "./blocks/header/burger";
@import "./blocks/header/nav";

// подключения блоков
@import "blocks/swiper-slider/swiper-slider";

@import "blocks/base-elements/row";
@import "blocks/base-elements/img";
@import "blocks/base-elements/brand";
@import "blocks/base-elements/socials";
@import "blocks/base-elements/logo";
@import "blocks/base-elements/development";
@import "blocks/base-elements/icon";
@import "blocks/base-elements/more";
@import "blocks/base-elements/map";
@import "blocks/base-elements/count";
@import "blocks/base-elements/breadcrumb";
@import "blocks/base-elements/stars";

//подключение кнопок
@import "./blocks/buttons/btn";

//подключение заголовков
@import "./blocks/titles/title-base";
@import "./blocks/titles/sizes";

//подключение элементов формы
@import "./blocks/form-elements/input-wrapper";
@import "./blocks/form-elements/btn-wrapper";
@import "./blocks/form-elements/select";
@import "./blocks/form-elements/wrap";

@import "blocks/structure/page-wrapper";
@import "blocks/structure/container";
@import "blocks/structure/section";

@import "./blocks/article-elements/article";

@import "blocks/modals/overlay";
@import "blocks/modals/modals";

body {
  display: flex;
  flex-direction: column;
  height: auto;
  font-family: $baseFont;
  color: $standardColor;

  button,
  a {
    cursor: pointer;
  }
}

button {
  &:disabled {
    cursor: auto;
  }
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  //transition: $baseTransition;

  &__block {
    &-padding {
      padding: $section-padding 0 $section-padding;

      @include laptop-large-tablet-small {
        padding: 80px 0 80px;
      }
      @include tablet-small-minus {
        padding: 56px 0 56px;
      }
    }

    &-margin {
      margin: $section-padding 0 $section-padding;

      @include laptop-large-tablet-small {
        margin: 80px 0 80px;
      }
      @include tablet-small-minus {
        margin: 56px 0 56px;
      }
    }

    &-bg {
      background-color: $color1;
    }
  }
}

@import "./blocks/path";
@import "./blocks/advertising";
@import "./blocks/article";
@import "./blocks/form";
@import "./blocks/news";

